.grid__input-because {
    box-sizing: border-box;
    background-color: #fffafa;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    margin-bottom: 17px;
    padding: 6px 0px 85px 15px;
    line-height: 1.3;
}

.grid__input-because::placeholder {
    color: #010101;
}