.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 73px 0;
}

@media screen and (max-width:1024px) {
  .header {
    padding: 20px 5% 0;
  }
}

@media screen and (max-width:425px) {
  .header {
    align-items: flex-start;
  }
}
