.grid__content {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 70px 0px 95px 75px;
}

@media screen and (max-width:1024px) {
  .grid__content {
    padding: 70px 0 75px;
    justify-content: flex-start;
  }
  .grid__content:last-of-type {
    padding-bottom: 30px;
  }
}

@media screen and (max-width:768px) {
  .grid__content {
    width: 100%;
    height: 100%;
  }
}
