.grid__content_place_form {
  padding: 148px 0 0 75px;
}

@media screen and (max-width:1280px) {
  .grid__content_place_form {
    padding-top: 8%;
  }
}

@media screen and (max-width:1024px) {
  .grid__content_place_form {
    padding-left: 0;
    margin: 0 auto;
    align-items: center;
  }
}

@media screen and (max-width:768px) {
  .grid__content_place_form {
    align-items: center;
  }
}
