.grid__input-where {
  box-sizing: border-box;
  background-color: #fffafa;
  width: 380px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 6px 0px 6px 15px;
  line-height: 1.3;
  letter-spacing: -0.8px;
}

.grid__input-where::placeholder {
  color: #010101;
}
