.people-talking {
  padding: 150px 5.5% 140px;
}

@media screen and (max-width: 1024px) {
  .people-talking {
    padding: 100px 5% 100px;
  }
}

@media screen and (max-width: 425px) {
  .people-talking {
    padding: 50px 5% 50px;
  }
}
