.grid__card {
  display: flex;
  min-height: 574px;
}

.grid__card:nth-child(odd) {
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media screen and (max-width:1024px) {
  .grid__card {
    min-height: 500px;
  }
}

@media screen and (max-width:768px) {
  .grid__card {
    flex-direction: column;
    justify-content: start;
  }
  .grid__card:nth-child(odd){
    flex-direction: column;
    justify-content: start;
  }
}
