.header__report {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #060606;
  letter-spacing: -0.65px;
  transition: 0.3s;
}

.header__report:hover {
  color: rgb(172, 7, 7);
}

@media screen and (max-width:768px) {
  .header__report {
    align-self: flex-start;
  }
}
