.quotes {
  list-style: none;
  margin: 140px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7.5%;
}

@media screen and (max-width: 768px) {
  .quotes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px 20%;
    padding: 0 5% 0;
    box-sizing: border-box;
    margin-top: 100px;
  }
}

@media screen and (max-width: 425px) {
  .quotes {
    margin-top: 50px;
  }
}
