.footer {
    width: 100%;
    min-height: 665px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fecda7;
}

@media screen and (max-width:1024px) {
  .footer {
    min-height: 350px;
  }
}

@media screen and (max-width:768px) {
  .footer {
    min-height: 200px;
  }
}
