.intro__image {
  width: 380px;
  height: 380px;
  object-fit: cover;
  margin: auto;
}

@media screen and (max-width: 425px) {
  .intro__image {
    width: 375px;
    height: 375px;
  }
}

@media screen and (max-width: 375px) {
  .intro__image {
    width: 320px;
    height: 320px;
  }
}
