.isolation__title {
  position: absolute;
  top: 21.6%;
  left: 5.5%;
  z-index: 2;
  font-family: Arial, serif;
  font-size: min(40px, calc((100vw - 320px) / (1377 - 320) * (40 - 15) + 15px));
  font-weight: bold;
  color: #fff;
  margin: 0;
}
